[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "compiler_builtins"]

[build]
target = "arch/riscv32imc-unknown-none-elf.json"

[target.riscv32imc-unknown-none-elf]
rustflags = [
  # Give linker.ld file
  "-C",
  "link-arg=linker.ld",
  # Static compilation
  "-C",
  "link-arg=-static",
  "-C",
  "relocation-model=static",
  # Keep debug sym
  "-C",
  "debuginfo=2",
  "-C",
  "panic=abort",
  "-C",
  "link-arg=--print-memory-usage",
]

[profile.dev]
opt-level = 0
debug = true
lto = false
codegen-units = 1
panic = "abort"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1
panic = "abort"

[alias]
b = "build --profile=dev"
rb = "build --profile=release"
c = "clean"
ft = "fmt --all -- --check"
w = "clippy -- -D warnings"
t = "test"
