[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "compiler_builtins"]
profile-rustflags = true

[build]
target = "arch/riscv32imc-unknown-none-elf.json"

[target.riscv32imc-unknown-none-elf]
rustflags = [
  # Give linker.ld file
  "-C",
  "link-arg=linkers/linker.ld",
  # Static compilation
  "-C",
  "link-arg=-static",
  "-C",
  "relocation-model=static",
  # Print memory usage 
  "-C",
  "link-arg=--print-memory-usage",
  # Generate a memory map at compilation time
  "-C",
  "link-arg=-Map=logs/memory.map",
]

[profile.dev]
opt-level = 0
debug = 2
debug-assertions = true
lto = false
strip = false
codegen-units = 1
panic = "abort"
rustflags = [
  # Improve backtrace
  "-C",
  "force-frame-pointers=yes",
]

[profile.test]
opt-level = 0
debug = 2
debug-assertions = true
lto = false
strip = false
codegen-units = 1
panic = "abort"
rustflags = [
  # Improve backtrace
  "-C",
  "force-frame-pointers=yes",
]

[profile.release]
opt-level = 2
lto = "fat"
strip = true
codegen-units = 1
panic = "abort"
debug = false
debug-assertions = false

[alias]
b = "build --profile=dev -Zjson-target-spec"
rb = "build --profile=release -Zjson-target-spec"
tb = "build --profile=test --features=test -Zjson-target-spec"
c = "clean"
ft = "fmt --all -- --check"
w = "clippy -Zjson-target-spec -- -D warnings"
clip = "clippy -Zjson-target-spec"
