name: Build and test

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and test (${{ matrix.os }} / ${{ matrix.toolchain }}) for target -> $({{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [nightly]
        target: [riscv32imc-unknown-none-elf]

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}
    - name: Cache Cargo dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-${{ matrix.toolchain }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.toolchain }}-cargo-
    - name: Add target
      run: rustup target add ${{ matrix.target }}
    - name: Add rust-src
      run: rustup component add rust-src --toolchain ${{ matrix.toolchain }}
    - name: Build for target
      run: cargo build --release --target ${{ matrix.target }}
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Run tests
      run: cargo test --verbose
    # - name: Lint
    #   run: cargo clippy -- -D warnings
